* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

header {
    text-align: center;
    background: slategray;
    padding: 1em;
}

h1 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;
}

section {
    background: lightblue;
}

.card-grid {
    /* display: flex;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding: 10px 0;
}

.card {
    /* width: 33%; */
    background: white;
    border-radius: 5px;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

.card>img {
    width: 60%;
}

footer {
    font-size: 20px;
    color: white;
    background: slategray;
    text-align: center;
    padding: 0.25em;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width: 620px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}